# Flutter esencial
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignorar artefactos de compilación de Flutter/Dart
build/
example/build/

# Generado por Flutter al resolver plugins
.flutter-plugins-dependencies
example/.flutter-plugins-dependencies
